body {
    background-color:black;
    font-family: arial;
    color: rgb(90, 71, 71);
}
h1 {
    color:rgb(77, 36, 131);
    font-family: verdana;
}
/* Create an entry for class 'maindiv' */
.maindiv {
    background-color: rgb(49, 161, 152);
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 75px;
    text-align: center;
}

